html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.container {
  width: 450px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3em;
  overflow: auto;
}
